<p>
<%= link_to "Create new post", new_post_path %>
</p>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= display_url_link(post) %> 
      (<%= link_to pluralize(post.comments.count, 'comment'), post %>) <br>
      <%= link_to post_votes_path(post, thumb: "up"), method: :post do %>
        <i class="icon-thumbs-up"></i>
      <% end %>
      <span><%= post.vote_count %></span>
      <%= link_to post_votes_path(post, thumb: "down"), method: :post do %>
        <i class="icon-thumbs-down"></i>
      <% end %>
      <span>Posted by <%= post.user.username %></span>
    </li><hr>
  <% end %>
</ul>
